/* ==========================================
   Wedding Invitation 2026
   Theme Variables
   Muhammad Zaahid & Nur Alya
========================================== */

:root{

    /* ========= COLORS ========= */

    --background:#FAF7F2;
    --surface:#FFFDF9;
    --card:#FFFFFF;

    --text:#463A33;
    --text-light:#766C62;

    --gold:#D4AF37;
    --gold-dark:#B9912F;
    --gold-soft:#E8C766;

    --border:#E7DAC8;

    --shadow:0 15px 40px rgba(0,0,0,.08);

    /* ========= TYPOGRAPHY ========= */

    --font-heading:'Cormorant Garamond',serif;
    --font-script:'Great Vibes',cursive;
    --font-body:'Poppins',sans-serif;
    --font-arabic:'Noto Naskh Arabic',serif;

    --hero-name:clamp(3.5rem,8vw,6rem);
    --title:clamp(2rem,4vw,3rem);
    --subtitle:1.2rem;
    --body:1rem;

    /* ========= SPACING ========= */

    --section-padding:120px;
    --container:1200px;
    --radius:24px;

    /* ========= TRANSITION ========= */

    --transition:.45s ease;

}